version: '3.8'

services:
  web:
    image: 043220466882.dkr.ecr.eu-west-2.amazonaws.com/flask-mysql:latest
    ports:
      - "5000:5000"
    depends_on:
      - mydb

  mydb:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw